<section id="" class="pfblock-gray">
  <div class="container">

    <div class="row text-center">
      <div class="col-sm-4 col-sm-offset-4">
        <ol class="breadcrumb">
          <li>
            <%= link_to root_path( anchor: "firstinfo" )  do %>
              <%= fa_icon "home" %>
            <% end %>
          </li>
          <li>Uživatelé</li>
          <li class="active"><%= @user.id %></li>
        </ol>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
      <%= render partial: 'shared/userbox' %>
    </div>

  </div>
</section>