<div class="box" id="skillbox">
  <div class="box-title">
    <h4>Kompetence</h4> 
    <div class="pfblock-line"></div>
    <div class="">Seřazeno pomocí <%= fa_icon "heart" %> indexu</div>
  </div>

  <% @skills.each do |s| %>
    <div class="progress">
      <div class="progress-bar progress-bar-step" role="progressbar" aria-valuenow="<%= s.skill_index %>0" aria-valuemin="0" aria-valuemax="100" style="width: <%= s.skill_index %>0%;">
      <span><strong><%= s.skill %></strong></span>
    </div>
    </div>
  <% end %>

</div>