<h1>Příspěvky oštítkované: <%= @tag.name %></h1>

<ul>
  <% @tag.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
  <% @tag.images.each do |image| %>
    <li><%= link_to image_tag(image.file.url(:thumb)), gallery_image_path(image.gallery_id, image) %></li>
  <% end %>
</ul>
