.iconbox {
  background: #fff;
  border-bottom: 1px solid #d4d4d4;

  text-align: left;
  padding: 20px 20px;
  margin: 0 0 20px;
}


/* appends to row around content sream
   resizes it */
.stream {
 -moz-column-width: 16em;
 -webkit-column-width: 16em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
}

/* each item in content stream */
.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
  position:relative;
 margin: 5px 0 5px 0;
 a {
  color: $gray;
 }
}

/* wrap around blog posts only */
.postbox {
  transition: all 0.5s ease 0s;

  max-width: 260px;
  background: #fff;
-webkit-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
-moz-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  display: inline-block;

  text-align: left;
  padding: 20px 20px;
    &:hover {
    color: #fff;
    background: #E7746F;
  }
}

/* wrap only around image */
.photobox {
  transition: all 0.5s ease 0s;
  background: #fff;
  padding: 0px;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  -moz-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);


  
  &:hover {
    color: #fff;
    background: #E7746F;
  }
}

.box-title {
    padding: 8px;
    text-align: center
  }


.infobox {
  border: 0;
  color: $gray-darker;
  background: $gray-lighter;
  min-height: 360px;
}



.iconbox-icon {
  margin: 0 0 15px;
  font-size: 32px;
  color: #222;
}

.iconbox-title {
  margin: 0 0 15px;
  padding: 0;
}

.image_thumb {
  padding: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 6px solid #fff;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  -moz-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
}

.image_thumb_last {
  margin: 0;
  padding: 0;
  border: 6px solid #fff;
  width: 270px;
  height: 212px;
  text-align: center;
  color: $gray;
  background-color: #fff;
      -webkit-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  -moz-box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);
  box-shadow: 1px 1px 1px 0px rgba(212,212,212,0.74);

}