.btn-default {
  border-radius: 0;
  border: 0;
  padding: 2px 12px 2px 12px;
  background-color: $gray-lighter;
  font-size: 14px;
  &:hover {
    background-color: $coral;
    color: #fff;
  }
}

.btn-tag-delete {
  color: $gray-light;
  padding: 2px 4px 2px 4px;
  border-left: 1px solid #fff;
  font-size: 14px;
  &:hover {
    border-left: 1px solid #fff;
  }
}
