/*** #home ***/
#home {
  background-image: image-url("ledovec.jpg");
  background-color: $blue;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @include background-size();
  padding: 0;
  color: $white-light;
}

.home-overlay {
  background-color: rgba(79, 109, 122, 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}


.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  @include vertical-align(absolute);
  padding: 0 15px;
}

.start {
  font-family: "Exo 2", "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
  text-align: center;
}

.scroll-down span{
  position: relative;
  color: #fff;
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@-webkit-keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}
/*** /#home ***/