  <section id="services" class="pfblock pfblock-gray">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">Posts</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
              sub
            </div>
          </div>

        </div>

      </div>
      <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

          <% @posts.each do |post| %>
            <h3><%= link_to post.title, post_path(post), class: "post_title" %></h3>
            <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
          <% end %>
          <%= link_to "Create a New Post", new_post_path, class: "new_post" %>
          </div>
      </div>

</div>
</section>
