@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
  font: 300 14px/1.8 'Raleway', sans-serif;
  color: #666;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #E7746F;
}

a:hover {
  text-decoration: none;
  color: #999;
}

#home {
  background-image: image-url("rohace03.jpg");
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
      background-size: cover;
  padding: 0;
  color: #f9f9f9;

}


.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
  -webkit-transform: translate(0%, -50%);
     -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
     -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
  padding: 0 15px;
}

.start {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  margin: 15px 0;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  z-index: 10;
    text-align: center;
}

.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@-webkit-keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

@keyframes drop {
  0%   { top:0px;  opacity: 0;}
  30%  { top:10px; opacity: 1;}
  100% { top:25px; opacity: 0;}
}

.pfblock {
  padding: 60px 0 100px;
}

.pfblock-gray {
  background: #f5f5f5;
}

.pfblock-header {
  text-align: center;
  margin: 0 0 40px;
}

.pfblock-header-left {
  text-align: left;
}

.pfblock-header-left .pfblock-line {
  width: inherit;
  margin: 30px 0;
}

.pfblock-title{
    font-weight: 800;
}

.pfblock-subtitle {
  font-family: Raleway, "Times New Roman", Times, sans-serif;
  font-style: normal;
  font-size: 18px;
}

.pfblock-line {
  background: rgba(135, 135, 135, 0.5);
  width: 100px;
  height: 1px;
  margin: 20px auto;
}

.pfblock-icon {
  font-size: 32px;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  width: 100%;
  z-index: 998;
}

.navbar-custom {
  border: 0;
  border-radius: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
  background: #fff;
  padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
  background: none;
  outline: 0;
  color: #E7746F;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  font-size: 22px;
    font-family: Raleway
}

.navbar-custom .dropdown-menu {
  border: 0;
  border-top: 2px solid #E7746F;
  border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
  padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
  background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
  background: #222;
}



/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */


.navbar a,
.form-control {
  -webkit-transition: all 0.4s ease-in-out 0s;
     -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
     -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
  -webkit-transition: all 0.125s ease-in-out 0s;
     -moz-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
     -o-transition: all 0.125s ease-in-out 0s;
      transition: all 0.125s ease-in-out 0s;
}

.btn-default {
  border-radius: 0;
}


.iconbox {
  background: #fff;
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
  padding: 20px 20px;
  margin: 0 0 20px;
}

.iconbox-icon {
  margin: 0 0 15px;
  font-size: 32px;
  color: #222;
}

.iconbox-title {
  margin: 0 0 15px;
  padding: 0;
}

.image_thumb {
  padding: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 8px solid #fff;
  box-shadow: 0 1px 0 #d4d4d4;

}

.top_spacer {
  margin-top: 20px;
}

.link_to_gallery {
  background: #020;
  padding: 80px 0 0 0px;
  margin-bottom: -20px;


}

.dots {
  color: #fff;
  font-size: 20px;
    position: relative;
    top: 40%;
      -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h4 {
  display: inline;
}

.photobox {
  background: #fff;
  border-bottom: 1px solid #d4d4d4;

  text-align: center;
  padding: 0;
  margin: 0;
}

.gallery-wrap {
  margin-bottom: 60px;
}

.gallery_thumb {
  margin: 0;
  padding: 0;
}

.gallery_thumb_last {
  margin: 0;
  padding: 0;
  border: 8px solid #fff;
  box-shadow: 0 1px 0 #d4d4d4;
  width: 200px;
  height: 215px;
  text-align: center;
  background-color: #E7746F;

}

blockquote {
  border: none;
  margin: 0;
}

.date {
  color: $gray-light;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}