/*** main ***/
body {
  font: 300 14px/1.8 'Raleway', sans-serif;
  color: #666;
  overflow-x: hidden;
  background: $gray-lighter;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $coral;
  &:hover {
    text-decoration: none;
    color: $gray-medium;
  }
}

h4 {
  display: inline;
}

blockquote {
  border: none;
  margin: 0;
}

.breadcrumb {
  background: $gray-lighter;
}


/*** debug ***/
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/*** flash messages ***/
.alert {
  border: 0;
  border-radius: 0;
  margin-top: 20px;
}

.alert-danger {
  color: $white;
  background-color: $coral;
}

.alert-warning {
  color: $white;
  background-color: $coral-light;
}

.alert-success {
  color: $white;
  background-color: $green;
}

/*** positioning ***/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.push-right {
  margin-left: 80%;
}

.top_spacer {
  margin-top: 20px;
}
/*** *** ***/


/*
.link_to_gallery {
  background: #020;
  padding: 80px 0 0 0px;
  margin-bottom: -20px;

}
*/

#gallery_last_img_link {
  font-size: 30px;
  @include vertical-align()
}


.gallery-wrap {
  margin-bottom: 60px;
}

.gallery_thumb {
  margin: 0;
  padding: 0;
}

.date {
  color: $gray-light;
}


/*** forms ***/
.form-control {
  border-radius: 0;
  border: 1px solid $gray-lighter;
  background-color: $gray-lighter;
  -webkit-box-shadow: 0px 0px 0px #999;
  -moz-box-shadow:    0px 0px 0px #999;
  box-shadow:         0px 0px 0px #999;
  z-index:999;

  &:focus {
    border: 1px solid $coral;
    background-color: $gray-lighter;
    color: #000;
    -webkit-box-shadow: 0px 0px 0px #999;
    -moz-box-shadow:    0px 0px 0px #999;
    box-shadow:         0px 0px 0px #999;
    z-index:999;
  }
}

.progress {
  border: 0;
  border-radius: 0;
  height: 28px;
  background: $white-light;
  position: relative;
  margin: 4px;
  span {
    @include vertical-align(absolute);
    display: block;
    width: 100%;
    color: $black;
    font-size: 1.2em;
  }
 }

 .progress-bar-step {
  background-color: $coral;
 }