@mixin vertical-align($position: relative, $top: 50%, $y_shift: -50%) {
  position: $position;
  top: $top;
  -webkit-transform: translateY($y_shift);
  -ms-transform: translateY($y_shift);
  transform: translateY($y_shift);
}

@mixin background-size($size: cover) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}

@mixin shadow($size: 1px) {
  -webkit-box-shadow: $size $size $size 0px rgba(212,212,212,0.74);
  -moz-box-shadow: $size $size $size 0px rgba(212,212,212,0.74);
  box-shadow: $size $size $size 0px rgba(212,212,212,0.74);
}