<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="">
          <%= fa_icon "puzzle-piece" %> <strong><%= link_to User.find(1).name, user_path(User.find(1)) %></strong>
        </p>
      </div>
      <div class="col-sm-6">
        <p class="text-right">Obsah publikován pod licencí <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
      </div>
    </div>
  </div>
</footer>