<!-- Home start -->
<section id="home" class="screen-height">
  <div class="intro">
    <div class="start"><%= image_tag("vlk.png", alt: "logo") %> </div>
    <div class="start">Ahoj, jmenuji se Tomáš Koutský a</div>
    <h1>VYTVÁŘÍM WEBOVÉ APLIKACE</h1>
    <div class="start"></div>
  </div> 
  <a href="#services">
    <div class="scroll-down">
      <span><i class="fa fa-angle-down fa-2x"></i></span>
    </div>
  </a>
</section>
<!-- Home end -->